body{

background:#08131f;

font-family:'Cormorant Garamond',serif;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

}

.container{

width:90%;

max-width:650px;

background:#111b29;

padding:40px;

border-radius:20px;

border:1px solid #caa85d;

box-shadow:0 0 30px rgba(0,0,0,.4);

}

h1{

font-family:'Cinzel',serif;

color:#d6b36b;

text-align:center;

letter-spacing:4px;

}

h3{

text-align:center;

color:#bbbbbb;

letter-spacing:3px;

}

.subtitle{

text-align:center;

margin-bottom:30px;

}

label{

display:block;

margin-top:20px;

margin-bottom:10px;

}

input{

width:100%;

padding:14px;

font-size:18px;

border-radius:8px;

border:none;

margin-bottom:20px;

}

button{

width:100%;

padding:14px;

background:#caa85d;

border:none;

border-radius:8px;

cursor:pointer;

font-family:'Cinzel';

font-size:16px;

}

button:hover{

background:#ddb96b;

}

.success{

color:#74d874;

}

#message{

margin-top:20px;

color:#ff8c8c;

}

.shake{

animation:shake .35s;

}

@keyframes shake{

0%{transform:translateX(0);}
20%{transform:translateX(-8px);}
40%{transform:translateX(8px);}
60%{transform:translateX(-8px);}
80%{transform:translateX(8px);}
100%{transform:translateX(0);}

}
