* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b1420;
    color: #f3efe5;
    font-family: "Cormorant Garamond", serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.background {
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at top, #1d3557, #08131f 70%);
    z-index: -1;
}

.container {
    width: 100%;
    max-width: 800px;

    background: rgba(18, 24, 35, .96);

    border: 1px solid #c6a96a;

    border-radius: 20px;

    padding: 40px;

    box-shadow: 0 0 35px rgba(0,0,0,.45);
}

h1{
    font-family: "Cinzel", serif;
    color:#d7b16d;
    text-align:center;
    margin-bottom:10px;
    letter-spacing:2px;
}

h2{
    font-family:"Cinzel",serif;
    color:#d7b16d;
    text-align:center;
    margin-bottom:10px;
}

h3{
    color:#d8d2c7;
    margin-top:15px;
    margin-bottom:15px;
}

.subtitle{
    text-align:center;
    color:#bdb7aa;
    margin-bottom:35px;
}

label{
    display:block;
    margin-top:20px;
    margin-bottom:8px;
    font-weight:bold;
}

input{

    width:100%;

    padding:15px;

    border-radius:10px;

    border:none;

    font-size:18px;

    margin-bottom:20px;

}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#c8a45b;

    color:white;

    font-family:"Cinzel", serif;

    font-size:16px;

    transition:.25s;

}

button:hover{

    background:#dcb971;

}

.hidden{

    display:none;

}

.success{

    color:#7bd67b;

    margin-bottom:20px;

}

.progress{

    margin-bottom:25px;

}

.progressText{

    margin-bottom:8px;

}

.progressBar{

    height:14px;

    background:#333;

    border-radius:20px;

    overflow:hidden;

}

#progressFill{

    width:20%;

    height:100%;

    background:#c8a45b;

}

#progressNumber{

    margin-top:8px;

    text-align:right;

}

#archiveText{

    line-height:1.8;

    margin-top:20px;

    margin-bottom:30px;

}

#archiveImage{

    width:100%;

    border-radius:12px;

    margin-bottom:25px;

}

.hintBox{

    margin-bottom:25px;

}

#hint{

    margin-top:12px;

    color:#d7b16d;

    font-style:italic;

}

#message{

    margin-top:20px;

    color:#ff9b9b;

    text-align:center;

    font-weight:bold;

}

.shake{

    animation:shake .35s;

}

@keyframes shake{

0%{transform:translateX(0);}
20%{transform:translateX(-10px);}
40%{transform:translateX(10px);}
60%{transform:translateX(-8px);}
80%{transform:translateX(8px);}
100%{transform:translateX(0);}

}

hr{

    margin:25px 0;

    border:none;

    border-top:1px solid #3b4658;

}

#finalLetter{

    margin-top:30px;

    line-height:2;

    text-align:center;

    font-size:22px;

}
